#bubble {
    background-image: url("../pics/palm.png");
    background-size: contain;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    color: white;
}

.input {
    min-width: 300px;
    max-width: 400px;
}

.label {
    color: white
}

#bubble > .card {
    padding-top: 130px;;
    color: white;
    background-color: transparent;
    box-shadow: none;
}

