#members .imageWrapper {
    height: 300px;
    display: flex;
    justify-content: center;
    min-width: 100px;
}

#members{
    margin-bottom: 80px;
}

/*  */




.links {
    display:flex;
    justify-content: center;

}

/* #members .card  {
    background-image: url("../pics/coconut.png");
    background-size: contain;
    background-position: center center;   
    background-color: transparent;
    background-repeat: no-repeat;
} */


